<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Products</title>
</head>
<body>
<a href="/admin">Панель администратора</a> <a href="/admin/products">Товары</a>
<h2>Товары:</h2>
<table border="1">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Дата производства</th>
            <th>Годен до</th>
            <th>Категория</th>
            <th>Фото</th>
        </tr>
    </thead>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stockQuantity}"></td>
        <td th:text="${product.productionDate}"></td>
        <td th:text="${product.expirationDate}"></td>
        <td th:text="${product.category.name}"></td>
        <td>
            <div th:each="image : ${product.images}">
               <img th:src="${image.path}" th:alt="${image.path}">
            </div>
        </td>
        <td><a th:href="@{'/admin/products/update/' + ${product.id}}">Ред.</a></td>
        <td><a th:href="@{'/admin/products/delete/' + ${product.id}}">Удалить</a></td>
    </tr>
</table>
<a href="/admin/products/add">Добавить товар</a>
</body>
</html>