<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Административная панель</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Административная панель</h1>
        <a href="/products" class="btn btn-primary">Управление товарами</a>
        <a href="/users" class="btn btn-primary">Управление пользователями</a>
        <a href="/categories" class="btn btn-primary">Управление категориями</a>
    </div>
</div>
</body>
</html>
