<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Category</title>
</head>
<body>
<h2>Добавить категорию</h2>
<a href="/admin">Панель администратора</a> <a href="/admin/products">Категории</a>
<form action="/admin/categories/add" method="post" th:object="${category}">
  <input type="hidden" th:field="*{id}">
  <label for="name">Название</label>
  <input type="text" name="name" id="name" th:field="*{name}">
  <br><br>
  <label for="description">Описание</label>
  <textarea id="description" name="description" th:field="*{description}"></textarea>
  <br><br>
  <label>Путь к изображению</label>
  <input type="text" th:field="*{image.path}">
  <br><br>
  <button type="submit" th:text="${buttonName}"></button>
</form>
</body>
</html>